%cnmfe
patch_sz=[128 128]
overlap=[36 36]
min_patch=[36 36]
gauss_kernel=4
neuron_dia=12
min_corr=0.72
ds_time=1
ds_space=1
min_pnr=20
bd=0
dendrites=false
max_neurons=[]
spatial_corr=0.6
temporal_corr=0.6
spiketime_corr=0.1
save_corr_img=false
view_neurons=true
start_frame=1
num_frames=-1

# set your cluster variables once, and try not to change them, because they
# will affect your other jobs
%cluster
queue=mpi
# you have to enclose following value in quotes otherwise matlab will interpret it as a vector
wall_time='24:00:00'
mem=25G
username=wg41
email=wgillis@g.harvard.edu
user_defined_opts='--mail-type=END'
# paths to the libraries where cnmfe and parallel extraction are found
grin_code=/home/wg41/code/grin-analysis
cnmfe_code=/home/wg41/code/CNMF_E
